# Diadem Application
DIADEM_PORT=3900

# "runtime" or "dev"
DIADEM_TARGET=runtime

DOCKER_MTU=1500

# MariaDB Database (Diadem Internal)
MARIADB_ROOT_PASSWORD=changeme_root
MARIADB_DATABASE=diadem
MARIADB_USER=diadem
MARIADB_PASSWORD=changeme
